# Node
node_modules/

# Playwright test results and reports
test-results/
playwright-report/
blob-report/

# Playwright caches and Allure outputs
playwright/.cache/
playwright/.fixtures/
playwright/.allure-report/
playwright/.allure-results/

# Optional editor/system files
.DS_Store
.env