# Node
node_modules/

# Playwright test results and reports
test-results/
playwright-report/
blob-report/

# Playwright caches and Allure outputs
DARAZ/.cache/
DARAZ/.fixtures/
DARAZ/.allure-report/
DARAZ/.allure-results/

# Optional editor/system files
.DS_Store
.env